\.DS_Store

# exclude target dirs
*/target/*
*/out/*
target/
**/target/**

.classpath
.project
.settings/

# exclude log files
*.log
*.log.*
*/log/*
\.log

#exclude compiled classes
*.class

#exclude sample .apk
*.apk
