<h1><a href="/">apkr</a></h1>
<nav id="nav">
    <ul>
        <li><a href="/" class="icon fa-cloud-upload">Upload</a></li>
        <li><a href="http://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=2K5XZN28V6K84" target="_blank"
               class="icon fa-usd">Donate</a>
        </li>
        <li><a href="https://github.com/zerjioang/apkr" target="_blank" class="icon fa-info">Contribute</a>
        </li>
        <!--<div class="hidden">
            <li><a href="search.html" class="icon fa-search">Search</a></li>
            <li><a href="stats.html" class="icon fa-flask">Statistics</a></li>
            <li>
                <a href="docs.html" class="icon fa-code">Docs</a>
            </li>
            <li>
                <a href="help.html" class="icon fa-question">Help</a>
            </li>
        </div>
        -->
    </ul>
</nav>