body, td, pre {
    color: #606060; 
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    margin:8px;
}

p {
    margin: 0;
}

.codeStyle {
    font-family: Monaco,Andale Mono,Courier New,monospace;
    font-size: 13px;
}